#!/usr/bin/env python

PACKAGE='talon_controllers'
import roslib; roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       Name      Type      Reconfiguration-level  Description  Default  Min  Max
gen.add("p0",     double_t, 0,                     "",          0,       0,   100)
gen.add("p1",     double_t, 0,                     "",          0,       0,   100)

gen.add("i0",     double_t, 0,                     "",          0,       0,   100)
gen.add("i1",     double_t, 0,                     "",          0,       0,   100)

gen.add("d0",     double_t, 0,                     "",          0,       0,   100)
gen.add("d1",     double_t, 0,                     "",          0,       0,   100)

gen.add("f0",     double_t, 0,                     "",          0,       0,   100)
gen.add("f1",     double_t, 0,                     "",          0,       0,   100)

gen.add("izone0", double_t, 0,                     "",          0,       0,   100)
gen.add("izone1", double_t, 0,                     "",          0,       0,   100)

exit(gen.generate(PACKAGE, "talon_reconfigure_node", "TalonConfig"))

