# Zebravision 2018
# Copy this to /etc/systemd/system/ 

[Unit]
Description=2018 ROS Master Startup Script

[Service]
Type=simple
WorkingDirectory=/mnt/900_2

ExecStartPre=/bin/sh -ec 'sleep 5' ; \
	     /bin/bash -ec "/home/ubuntu/2018RobotCode/set_freq_tx.sh || true" ; \
	     /bin/bash -ec "/home/ubuntu/2018RobotCode/set_freq_tx.sh || true" ; \
	     /bin/sh -ec 'ifup eth0 || true' ;

ExecStart=/bin/bash -ec "/home/ubuntu/2018RobotCode/jetson_setup/master.sh || true"

Restart=on-failure

[Install]
WantedBy=default.target
