[submodule "navXTimeSync"]
	path = navXTimeSync
	url = https://github.com/FRC900/navXTimeSync

[submodule "rospy_message_converter"]
	path = rospy_message_converter
	url = https://github.com/baalexander/rospy_message_converter
