sudo: required # Necessary when using Docker

language: cpp

compiler: gcc

services:
  - docker

install:
  - travis_wait 45 docker pull eblau1/zebros-dev:latest

script:
  - docker run --user ubuntu eblau1/zebros-dev:latest /bin/bash -l -c
    "cd ~ &&
     git clone https://$GITHUB_USER:$GITHUB_PASS@github.com/FRC900/2018RobotCode/ &&
     cd ./2018RobotCode/ &&
     git checkout $TRAVIS_COMMIT &&
     git log -n1 &&
     git submodule update --init --recursive &&
     ./install_ros_desktop_packages.sh &&
     cd zebROS_ws &&
     wstool update -t src &&
     source /opt/ros/kinetic/setup.bash &&
     catkin_make &&
     echo \"Finished Ubuntu compile.\""
  - docker run --user ubuntu eblau1/zebros-dev:latest /bin/bash -l -c
    "cd ~ &&
     git clone https://$GITHUB_USER:$GITHUB_PASS@github.com/FRC900/2018RobotCode/ &&
     cd ./2018RobotCode/ &&
     git checkout $TRAVIS_COMMIT &&
     git log -n1 &&
     git submodule update --init --recursive &&
     git submodule update &&
     cd zebROS_ws &&
     wstool update -t src &&
     source /usr/arm-frc-linux-gnueabi/opt/ros/kinetic/setup.bash &&
     ./cross_build.sh &&
     echo \"Finished RoboRIO compile.\""
  - echo "Completed all tests successfully."

build:
  - true

notifications:
  email: false
  slack:
    rooms:
      frc900:RnRsEbHYnvZohI1NwZuGlsOd#github
    on_success: change
    on_failure: always
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository_slug}@%{branch} by %{author} %{result} in %{duration}."
