<?xml version="1.0"?>
<launch>

	<group ns="frcrobot">

        <!-- launch joystick subscriber-->
		<node name="joystickSubscriber" pkg="teleop_joystick_control" type="joystickSubscriber"
			output="screen" >
		</node>
		<node name="teleopJoystickCommands" pkg="teleop_joystick_control" type="teleopJoystickCommands"
			output="screen" >
			<remap from="/frcrobot/cmd_vel" to="/frcrobot/swerve_drive_controller/cmd_vel"/> 
		</node>
	</group>

</launch>
