<?xml version="1.0"?>
<launch>

    <node name="cube_detection" pkg="cube_detection" type="cube_detection_node" output="screen" respawn="true" clear_params="true">
        <rosparam file="$(find cube_detection)/launch/cube_detection_parameters.yaml"/>
    </node>

    <node name="cube_detection_zms" pkg="cube_detection" type="cube_detection_node" output="screen" respawn="true" clear_params="true">
        <rosparam file="$(find cube_detection)/launch/cube_detection_zms_parameters.yaml"/>
    </node>

</launch>
