<?xml version="1.0"?>
<!--

  Simulate a differential drive robot with the teb_local_planner in stage:
  - stage
  - move_base
  - (static map and map server and amcl) or gmapping
  - rviz view
 -->
<launch>

	<arg name="static_map" default="True"/>

	<!--  ************** Global Parameters ***************  -->
	<param name="/use_sim_time" value="true"/>

        <!--  ************** Stage Simulator ***************  -->
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find controller_node)/stage/2018FRC_robot.world">
		<remap from="base_scan" to="scan"/>
  	</node>

        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find controller_node)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find controller_node)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find controller_node)/launch/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find controller_node)/launch/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find controller_node)/launch/base_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />
	</node>


	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find controller_node)/maps/2018FRC_field_half_size.yaml" output="screen" if="$(arg static_map)">
		<param name="frame_id" value="/map"/>
	</node>

	<node pkg="amcl" type="amcl" name="amcl" output="screen" if="$(arg static_map)">
		<rosparam file="$(find controller_node)/config/amcl_params.yaml" command="load" />

 		<!-- We have a holonomic robot! Overwrite yaml config here! -->
		<param name="odom_model_type"		value="omni"/>
   
	    <param name="initial_pose_x"            value="2"/>
		<param name="initial_pose_y"            value="2"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

  <include file="$(find controller_node)/launch/gmapping.launch" unless="$(arg static_map)"/>


	<node pkg="controller_node" name="set_global_planner_mode" type="set_global_planner_mode.py" output="screen"/>
	

	  <!--  **************** Visualisation ****************  -->
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/rviz_navigation.rviz"/>

</launch>
