<?xml version="1.0"?>

<launch>
	<!-- consider running rqt_plot from ROSBag.sh -->
	<param name="use_sim_time" value="true" />
	<arg name="rosbag_data" doc="input the rosbag data as a file" />
	<arg name="data1" doc="input the first data to be graphed" />
	<arg name="data2" doc="input the second data to be grapged" />
	<arg name="x-axis" doc="input the data for horizontal axis" />

	<!-- find the data from rosbag file -->
	<!-- output the data out of launch file OR start up rqt_plot and input it in the rqt session -->
	<!-- Output the rqt_plot from the rosbag data if not using ROSBag.sh -->
	<node 
	name="ros_plot_run" 
	pkg="rqt" 
	type="rqt_plot" 
	respawn="false" 
	output="screen" 
	cwd="ROS_HOME">
	</node>
</launch>
